h1{
	text-align: center;
	font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
}
h3{
	font-family: 'Proza Libre', sans-serif;
  }
p{
	font-family: 'Proza Libre', sans-serif;
}
img{
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}

.even{
	background-color: #EBEBEB;
	padding: 10px;
}

.odd{
	background-color: #B2B2B2;
	padding: 10px;
}

#Menu{
	background-color: #434150;
	color: #D4B667;
	font-weight: bold;
}

#background{
	background-color: #434150;
	padding: 20px;
}

#footer{
	margin: 10px;
	text-align: right;
	background-color: #434150;
	color: #E0D19E;
}