h1{
	text-align: center;
	font-weight: bold;
}
h3{

  }
p{
}

.even{
	background-color: lightgray;
	padding: 10px;
}

.odd{
	background-color: darkgray;
	padding: 10px;
}

.subTitle{
	text-align: center;
}

#Menu{
	background-color: black;
	color: lightgray;
	font-weight: bold;
}

#background{
	background-color: black;
	padding: 20px;
}

#footer{
	margin: 10px;
	text-align: right;
	background-color: black;
	color: lightgray;
}

h1{
	text-align: center;
}
h2{

}
p{
}