.even{
	background-color: LightGray;
	padding: 10px;
}

.odd{
	background-color: DarkGray;
	padding: 10px;
}

.subTitle{
	text-align: center;
}

#background{
	padding: 20px;
}

#footer{
	margin: 10px;
	text-align: right;
}

h1{
	text-align: center;
}
h2{

}
p{

}